
.Register{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
        center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
}

.WrapperRegister{
    width: 40%;
    padding: 20px;
    background-color: #d7d2cc;
    border-radius: 10px;
}

.title-reg{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.input{
    flex: 1;
    width: 60%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
    border-radius: 10px;
}





.btnRegister{
    align-self:center ;
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: #304352;
    color: white;
    cursor: pointer;
    margin: 20px 10px 0px 0px;
    border-radius: 10px;
}

.spanReg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LinkReg{
    
    text-decoration: none;
    color: #304352;
    font-weight: bold;
    text-align:center ;

}

.aouthContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}


