.itemContainer {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
  
    /* Hover effect */
    &:hover {
      transform: translateY(-5px);
    }
  }

 
  .linkCategory{
    text-decoration: none;
  }
  .itemImg {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  
  .itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .itemTitle {
    color: #304352;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .itembtn {
    padding: 10px 20px;
    background-color: #304352;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: teal;
    }
  }
  