.ContainerNavbar{
    height: 60px;
    background: linear-gradient(to right, #304352, #d7d2cc);
    border-radius: 10px;

    
}

.WrapperNavbar{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LeftNavbar{
    flex:1;
    display: flex;
    align-items: center;

}

.Lang{
    font-size: 14px;
    cursor: pointer;
    color: #d7d2cc;
}

.SearchContainer{
    background-color: #d7d2cc;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.InputNavbar{
    border: none;
    padding: 5px;
}

/*############*/
.CenterNavbar{
    flex:1;
    text-align: center;
}
.Logo{
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
}


/*############*/
.RightNavbar{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.MenuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

.MenuItemName{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
}
.signout{
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    background-color: #304352;
    color: #d7d2cc;
    border-radius: 10px;
    font-weight: bold;

}

.LinkNav{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}

.UserRegNav{
    display: flex;
    align-items: center;
}




